@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
   background-attachment: fixed;
   background-color: #3d2557;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Nunito", serif;
}

.pag-inicial {
    background-color: #e4f5f9;
    padding: 80px;
    max-height: 80vh;
}

div.pag-inicial {
    border-radius: 50px; /* Arrendondar a borda da caixa */
}

.pag-inicial img {
    width: 250px;
}

img#logo{
    width: 40%;
    padding: 50px;
}

body#index{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botoes a {
    text-decoration: none; /*Remover o sublinhado dos botões*/
    background-color: #f14483; /*alterando a cor do fundo*/
    font-size: 20px; /*Alterando o tamanho da fonte*/
    color: #ffffff; /*mudar a cor do texto*/
    padding: 10px; /*adicionar um espaço em volta texto*/
    border-radius: 10px;
}

a.botao-secundario {
    border-color: #f14483; /*alterando a cor do fundo*/
    border-style: solid;
    background-color: transparent;
    font-size: 18px; /*Alterando o tamanho da fonte*/
    color: #f14483; /*mudar a cor do texto*/
    font-weight: 700;
}

/* novo estilo*/
.botoes button {
    text-decoration: none; /*Remover o sublinhado dos botões*/
    background-color: #a684d2; /*alterando a cor do fundo*/
    font-size: 20px; /*Alterando o tamanho da fonte*/
    color: #530068; /*mudar a cor do texto*/
    padding: 10px; /*adicionar um espaço em volta texto*/
    border-radius: 10px;
    border: none; /* LINHA NOVA*/
}

.botoes {
    display: flex; /*Transforma a exibição em flexível*/
    flex-direction: column; /*Deixa os botões acima um do outro*/
    gap: 20px; /*adiciona espaço entre os botões*/
    text-align: center;
}

.caixa-de-login {
    /*muda o fundo*/
    background-color: #e4f5f9;
    /* Adiciona espaço dentro */
    padding: 30px;
    /* Borda arredondada */
    border-radius: 20px;
}

.cadastro .caixa-de-login {
    margin-top: 50px;
}

body.login {
    display: flex;
    flex-direction: column;
}

/* Estilizando a entrada de texto*/
.caixa-de-login input {
    width: 200px; /*mudei a largura */
    height: 30px; /*mudei a altura*/
    font-size: 1.1rem; /*mudei tamanho da fonte*/ 

    border-radius: 10px; /*arredondei a borda*/
    border: solid; /*adicionei borda solida*/
    border-width: 1px; /*mudei a grossura da borda*/

    padding-left: 10px; /*adicionei espaço antes do texto*/
    padding-right: 10px;
}

/* Página home */
img#logo-home {
    width: 20%;
    padding: 20px;
}

body#home {
    flex-direction: column;
}

/* CARDS */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
  }
  
  .card {
    width: 200px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .cover {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  
  .card-content {
    padding: 10px;
    text-align: left;
  }
  
  .card-content h3 {
    font-size: 18px;
    color: #0077cc; /* Azul */
    margin-bottom: 5px;
  }
  
  .card-content p {
    font-size: 14px;
    color: #666;
  }