<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="static/estilo.css">
</head>
<body id="home">
    <img id="logo-home" src="/static/img/Logo texto.png">

  
   
    <div class="botoes">
        <a href="/novo"> + Criar uma música</a>
    </div>
    
      <!-- Seção de "Minhas Criações" -->
      <section class="my-creations">
        <h2>Minhas Criações</h2>
        <div class="cards-container">
          <!-- Card de projeto musical -->
          
          {% for musica in musicas  %}
          <a href="/editar_musica/{{musica[0]}}"> 

            <div class="card">
                <img src="/static/uploads/{{musica[6]}}" alt="Capa do Projeto" class="cover">
                <div class="card-content">
                <h3>{{musica[1]}}</h3>
                <p>Artista: {{musica[2]}}</p>
                <p>Status: {{musica[3]}}</p>
                <p>Letra: {{musica[4]}}</p>
      
                </div>
            </div>
          </a>
          {% endfor %}

  
          <!-- Mais cards podem ser adicionados aqui -->
        </div>
      </section>
      <div class="botoes excluir-conta">
        {% if session['email']=="leetobr@gmail.com" %}
        <a href="/adm_ta_on">ADMIN</a>

        {% endif %}
        <a href="/excluir_conta"> Deletar Conta</a>
    </div>

</body>
</html>