<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar nova música</title>
    <link rel="stylesheet" href="static/estilo.css">
</head>
<body>

    <div class="caixa-de-login">
        <h2>Adicione uma música!</h2>
        <form action="/novo" method="POST" enctype="multipart/form-data">
            <div class="form-group column">
                <label for="nome">Nome da Música</label>
                <input type="text" id="nome" name="nome" required>
        
                <label for="artista">Artista da Música</label>
                <input type="text" id="artista" name="artista" required>
        
                <label for="status">Status da Música</label>
                <input type="text" id="status" name="status" required>
        
                <label for="letra">Letra da Música</label>
                
                <textarea name="letra" id=""></textarea>
        
                <label for="imagem">Escolha uma imagem para enviar:</label>
                <input type="file" id="imagem" name="imagem" accept="image/*" required >
            </div>
            <div class="botoes"> 
                <button type="submit" class="btn">Adicionar Música</button>
            </div>
        
            
        </form>
        
    </div>

</body>
</html>
