<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/static/estilo.css">
</head>
<body id="home">
    <img id="logo-home" src="/static/img/Logo texto.png">

  
   
    <table>

        <thead>


            
            <tr>
                <th>Email Do Usuario</th>
                <th>Nome Do Usuario</th>
                <th></th>
            </tr>


        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr> 
                <td> {{usuario['email']}} </td> 
                <td> {{usuario['nome']}} </td> 
                <td><a href="/admin/excluir_usuario/{{usuario['email']}}"> Excluir Usuario</a></td>
           
            </tr>
            
            {% endfor %}
        </tbody>




    </table>
        
</body>
</html>